node_modules
.env
backup.js
views/*
randomChat
testCode
package-lock.json
delete.*
upload.*
sdFucntion.*
functionstuff.*
dbpassFunction.*
sound
labels.*
utils/*
logs/*
config.json
dijkstra.js
pridikstra.js
services
station
config
socket
app.js
services
swagger_output.json
swagger.js
README.md
.clinic
test.js
chatgpt.js
*.js
dist
config
utils
services
types
.env
nodemon.json
tsconfig.json
node_modules
logs
swagger_output.json
package-lock.json
station
views
socket
src/models/index.ts
