node_modules
.env
backup.js
views/*
randomChat
testCode
package-lock.json
delete.*
upload.*
sdFucntion.*
functionstuff.*
dbpassFunction.*
routes
sound
labels.*
utils/*
logs/*
config.json
dijkstra.js
pridikstra.js
models
services
controllers
station
config
socket
app.js
controllers
services
swagger_output.json
swagger.js
README.md
.clinic