node_modules
.env
backup.js
views/*
randomChat
testCode
package-lock.json
delete.*
upload.*
sdFucntion.*
functionstuff.*
dbpassFunction.*
routes
sound
labels.*
utils/*
logs/*
config.json
socialControllers.js